



.navbar{
	position: relative;
	
	width: 100%;
	
}


#navbarMain {
	margin-left: auto;

}

body  {
	height: %100;
	background-image: url("images/bg3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	backgound-size: cover;
	background-attachment: fixed;
	position: relative;
}

.container {
	margin-top: 10%;
	
}

div.ozgecmis {
  font-size: large;
  
}

div.sehrim {
  font-size: large;
  color: white;
}
